@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --color-main: #005792;
  --color-accent: #fd5f00;
  --color-white: #f6f6e9;
  --color-text: #13334c;
  --color-shadow: #cccccc;
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

/* base default*/
html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

hr {
  background-color: #D0D3DC;
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

:lang(en) {
  font-family: "Montserrat", sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.l-body {
  background-color: var(--color-white);
}

.l-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.l-container__narrow {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  height: 100%;
}

.l-header {
  width: 100%;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: ease 0.4s;
  z-index: 1000;
}
.l-header.-scrolled {
  height: 40px;
}

.l-button {
  padding: 1rem 0;
}

.l-skill__container {
  display: flex;
}
.l-skill__container > * {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .l-skill__container > * {
    width: 100%;
  }
}

.l-mv {
  height: 95vh;
}
@media screen and (max-width: 767px) {
  .l-mv {
    height: 70vh;
  }
}

.l-spacer {
  padding: 5rem 0;
}
.l-spacer.-notop {
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .l-spacer {
    padding: 2.5rem 0;
  }
}

#p-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-main);
  transition: 0.4s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
#p-loading.loaded {
  opacity: 0;
  visibility: hidden;
}

.p-loading__loader, .p-loading__loader:before, .p-loading__loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.p-loading__loader {
  color: var(--color-white);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.p-loading__loader::before, .p-loading__loader::after {
  content: "";
  position: absolute;
  top: 0;
}
.p-loading__loader::before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.p-loading__loader::after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.p-profile__img {
  text-align: center;
  overflow: hidden;
}
.p-profile__img img {
  border-radius: 50%;
  width: 400px;
  max-width: 80%;
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
  display: block;
  padding: 10px;
  margin: 0 auto;
}
.p-profile__leadingSection {
  padding: 0 3.75rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-profile__leadingSection {
    padding: 0;
  }
}
.p-profile__name {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: var(--color-text);
  margin-bottom: 2rem;
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.1em;
  background-image: repeating-linear-gradient(-45deg, var(--color-accent) 0, var(--color-accent) 4px, transparent 4px, transparent 8px);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 64% 15%;
}
@media screen and (max-width: 767px) {
  .p-profile__name {
    font-size: 1.5rem;
    background-size: 250px 15%;
  }
}

.p-footer {
  padding-bottom: 1rem;
  color: var(--color-text);
}

.p-skill__left {
  height: 50vh;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-skill__left {
    display: none;
  }
}
.p-skill__left > * {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}
.p-skill__left-heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
}
.p-skill__right {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 767px) {
  .p-skill__right {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.p-skill__right-box {
  padding-bottom: 8rem;
}
@media screen and (max-width: 767px) {
  .p-skill__right-box {
    padding-bottom: 4rem;
  }
  .p-skill__right-box:last-of-type {
    padding-bottom: 0;
  }
}
.p-skill__text-accent {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 5.5rem;
  color: var(--color-text);
}
@media screen and (max-width: 767px) {
  .p-skill__text-accent {
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
  }
}

.p-form__iframe {
  margin: 2rem auto 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-form__iframe iframe {
    width: 100%;
    height: 950px;
  }
}

#p-modal-1 {
  display: none;
  -webkit-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease;
}
#p-modal-1.is-open {
  display: block;
}

.p-modal__wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.p-modal__wrap.is-open {
  display: block;
}

.p-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  will-change: transform;
}
.p-modal__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 960px;
  width: 95%;
  height: 70vh;
  z-index: 10;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
}
@media screen and (min-width: 1440px) {
  .p-modal__container {
    padding: 2rem;
  }
}
.p-modal__close {
  text-align: right;
  position: relative;
}
.p-modal__closeButton {
  background-color: #808080;
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin-right: -16px;
  z-index: 15;
  color: var(--color-white);
  position: relative;
}
.p-modal__closeButton:hover {
  background-color: #a1a1a1;
}
.p-modal__flex {
  display: flex;
  flex-wrap: wrap;
}
.p-modal__block {
  flex-basis: 50%;
  margin-bottom: 1rem;
}
.p-modal__lead {
  font-size: 1.125rem;
  width: 90%;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--color-white);
}
.p-modal__category {
  padding-top: 0.375rem;
}
.p-modal__category-item {
  color: var(--color-white);
}

.p-modal__wrap[aria-hidden=false] .p-modal__overlay {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.p-modal__wrap[aria-hidden=false] .p-modal__container {
  -webkit-animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.p-modal__wrap[aria-hidden=true] .p-modal__overlay {
  -webkit-animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.p-modal__wrap[aria-hidden=true] .p-modal__container {
  -webkit-animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: fadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.p-header {
  background-color: var(--color-main);
}
.p-header__body {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
}
.p-header__nav {
  display: flex;
  align-items: center;
}
.p-header__list {
  display: flex;
  align-items: center;
}
.p-header__button {
  margin-left: 1.5rem;
  outline: 1px solid var(--color-accent);
  outline-offset: -1px;
  transition: 0.3s ease;
}
.p-header__button a {
  display: block;
  height: 80px;
  line-height: 80px;
  padding: 0 1rem;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: 0.4s ease;
}
.p-header__button a.-scrolled {
  height: 40px;
  line-height: 40px;
}
.p-header__button:hover a {
  background-color: var(--color-white);
  color: var(--color-accent);
}
.p-header__logo {
  padding-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0 #fff;
}
.p-header__text {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-accent);
}
@media screen and (max-width: 767px) {
  .p-header__text {
    font-size: 1.25rem;
  }
}
.p-header__text strong {
  font-size: 1.25em;
}

.p-header__list-item {
  color: var(--color-white);
  padding-left: 1.5rem;
}
.p-header__list-item a {
  position: relative;
}
.p-header__list-item a:after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-white);
  content: "";
  transition: transform 0.3s;
  transform: scale(0, 1);
  transform-origin: right top;
}
.p-header__list-item a:hover:after {
  transform: scale(1, 1);
  transform-origin: left top;
}
@media screen and (max-width: 767px) {
  .p-header__list-item {
    display: none;
  }
}

.p-mv__mv {
  padding: 2.5rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-mv__mv {
    padding: 2.5rem 1rem;
  }
}
.p-mv__mv img {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .p-mv__mv img {
    height: 50vh;
  }
}
.p-mv__wrap {
  position: absolute;
  bottom: 17%;
  left: 5%;
}
.p-mv__lead {
  display: flex;
  flex-flow: column;
}
.p-mv__lead p {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .p-mv__lead p {
    font-size: 1.75rem;
  }
}
.p-mv__lead span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-accent);
  color: var(--color-white);
  opacity: 0;
}

.c-sentence {
  font-size: 1rem;
  color: var(--color-text);
  letter-spacing: 0.1em;
  line-height: 2rem;
}
@media screen and (max-width: 767px) {
  .c-sentence {
    font-size: 0.875rem;
  }
}

.c-sentence + .c-sentence {
  padding-top: 0.5rem;
}

.c-heading {
  font-size: 2.25rem;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
  color: var(--color-text);
}
@media screen and (max-width: 767px) {
  .c-heading {
    font-size: 1.5rem;
  }
}
.c-heading__center {
  text-align: center;
}
.c-heading::first-letter {
  color: var(--color-accent);
}

.c-button button {
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  min-width: 240px;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 700;
  border-image-source: repeating-linear-gradient(-45deg, var(--color-accent) 0, var(--color-accent) 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 11px);
  border-image-slice: 3;
  border-width: 3px;
  border-image-repeat: round;
  border-style: solid;
  transition: 0.2s ease;
}
.c-button button:hover {
  transition: 0.2s ease;
  border-image-source: repeating-linear-gradient(45deg, var(--color-accent) 0, var(--color-accent) 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 11px);
  background-color: var(--color-accent);
  color: var(--color-white);
}

.c-flex {
  display: flex;
}
.c-flex__spacebetween {
  justify-content: space-between;
}
.c-flex__aligncenter {
  align-items: center;
}
.c-flex__item-half {
  flex-basis: 50%;
}
@media screen and (max-width: 767px) {
  .c-flex__spBlock {
    display: block;
  }
}

.u-uppercase {
  text-transform: uppercase;
}

.u-strong {
  font-weight: bold;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-centerposition {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-header__spacer {
  height: 80px;
  background-color: var(--color-main);
}

.u-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .u-sppadding {
    padding: 0 2%;
  }
}
.js-text,
.js-text::after {
  -webkit-animation-delay: var(--animation-delay, 2s);
  animation-delay: var(--animation-delay, 2s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 800ms);
  animation-duration: var(--duration, 800ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.js-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  opacity: 1 !important;
  position: relative;
  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  white-space: nowrap;
  cursor: default;
}
.js-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes text-revealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes text-revealer {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.content-container {
  display: flex;
}

.content-container > * {
  width: 50%;
}

.right-content {
  padding-right: 15px;
}

.left-content {
  height: 100vh;
  position: relative;
}

.left-content > * {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .left-content {
    display: none;
  }

  .right-content {
    padding-left: 15px;
  }
}