
.u-uppercase {
    text-transform: uppercase;
}
.u-strong {
    font-weight: bold;
}

.u-lowercase {
    text-transform: lowercase;
}

.u-centerposition {
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-header__spacer {
    height: 80px;
    background-color: var(--color-main);
}

.u-visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(50%);
}

.pc-only {
    display: block;
}
.sp-only {
    display: none;
}

@include mq('sp') {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
    .u-sppadding {
      padding: 0 2%;
    }
}
