.p-mv {
    &__mv {
        padding: rem(40);
        position: relative;

        @include mq('sp') {
            padding: rem(40) rem(16);
        }

        img {
            width: 100%;
            height: 75vh;
            object-fit: cover;

            @include mq('sp') {
                height: 50vh;
            }
        }
    }

    &__wrap {
        position: absolute;
        bottom: 17%;
        left: 5%;
    }


    &__lead {
        display: flex;
        flex-flow: column;

        p {
            font-size: rem(40);
            font-weight: bold;
            letter-spacing: 0.2em;

            @include mq('sp') {
                font-size: rem(28);
            }
        }

        span {
            display: inline-block;
            margin-bottom: rem(8);
            padding: rem(4) rem(8);
            background-color: var(--color-accent);
            color: var(--color-white);
            opacity: 0;
        }
    }
}